body{
    color:green;
    background-color: rgba(30, 84, 100, 0.125);
    font-family: Arial, Helvetica, sans-serif;
}
h1{display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
 }
 a {
    color:white;
    text-decoration:none;

 }
 img 
 {
    width: 250px;
    height: 300px;
    border-radius: 0;
    border-radius: 0% solid green;

 }